@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.MuiPagination-ul {
    justify-content: center;
}

.MuiCardActions-root {
    justify-content: center;
}

.root {
    width: 80%;
    margin: auto;
}
